<div class="content-wrap content-sidebar">
    <main class="Content" itemscope itemtype="http://schema.org/Blog">
        {% block content %}{% endblock %}
    </main>
    <aside class="Sidebar Sidebar-primary" role="complementary" aria-label="Primary Sidebar" itemscope itemtype="http://schema.org/WPSidebar">
        {% block sidebar %}{% endblock %}
    </aside>
</div>