<div class="content-sidebar">
    <main class="content" itemscope itemtype="http://schema.org/Blog">
        {% block content %}{% endblock %}
    </main>
    <aside class="sidebar sidebar-primary" role="complementary" aria-label="Primary Sidebar" itemscope itemtype="http://schema.org/WPSidebar">
        {% block sidebar %}{% endblock %}
    </aside>
</div>