{% import '_macros/_svg.twig' as m_svg %}
<div class="section">
    <div class="wrap">
        {{m_svg.svg({icon: 'facebook-square', title: 'Facebook'})}}
        {{section.content}}
    </div>
</div>