html,
body {
    overflow-x: hidden;
}

.site-header,
.site-container,
.site-inner,
.site-footer {
    @include clearfix;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
