html .mceContentBody,
body#tinymce {
    height: auto !important;
}

#wpadminbar {
    display: none;

    @include grid-media($desktop) {
        display: block;
    }
}

.SiteHeader,
.SiteContainer,
.SiteInner,
.SiteFooter {
    @include clearfix;
}

.SiteContainer {
    position: relative;
    right: 0;
    transition: right 0.5s ease-in-out;

    &.Nav--is-visible {
        right: 260px;
    }
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
