html,
body {
    overflow-x: hidden;
}

#wpadminbar {
    display: none;

    @include grid-media($desktop) {
        display: block;
    }
}

.SiteHeader,
.SiteContainer,
.SiteInner,
.SiteFooter {
    @include clearfix;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
