body {
    left: 0;
    position: relative;
    transition: left 0.5s $base-timing;

    &.nav-is-open {
        left: -260px;
        overflow-y: hidden;
    }
}

.wrap {
    @include outer-container;
    width: 90%;
}

.content-sidebar-wrap {
    @include outer-container;
    width: 90%;

    .content {

        @include media($large-screen-up) {
            @include span-columns(8);
        }
    }

    .sidebar {

        @include media($large-screen-up) {
            @include span-columns(4);
            @include omega();
        }
    }
}
