body {
    left: 0;
    position: relative;
    transition: left 0.5s $base-timing;

    &.is-open {
        left: -260px;
        overflow-y: hidden;
    }
}

.wrap {
    @include grid-container;
    margin: 0 auto;
    width: 90%;
}

.content-sidebar-wrap {
    @include grid-container;
    margin: 0 auto;
    width: 90%;

    .content {
        @include grid-media($desktop) {
            @include grid-column(9);
        }
    }

    .sidebar {
        @include grid-media($desktop) {
            @include grid-column(3);
        }
    }
}
