.site-footer {
    border-top: $base-border;
    margin-top: $small-spacing;
    padding: $small-spacing 0;

    @include media($medium-screen-up) {
        margin-top: $base-spacing;
        padding: $base-spacing 0;
    }

    .wrap {
        @include align-items(center);
        @include display(flex);
    }
}
