<article class="Post post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <section class="PostContent">
        <h1 class="PostTitle">{{post.title}}</h1>
        {% include 'components/post/meta.twig' %}
        <div class="PostBody">
            {{post.content}}
        </div>
    </section>
    {% include 'components/post/comments.twig' %}
</article>