<footer class="SiteFooter" itemscope itemtype="http://schema.org/WPFooter">
    {{function('tha_footer_top')}}
        <div class="wrap">
            Copyright {{"now"|date('Y')}}
        </div>
    {{function('tha_footer_bottom')}}
</footer>
