<header class="SiteHeader" itemscope itemtype="http://schema.org/WPHeader">
    {{function('tha_header_top')}}
    {% block header %}
        <div class="wrap u-alignMiddle">
            <h1 class="Logo" role="banner">
                <a class="Logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
            </h1>
            <nav class="Nav Nav-primary" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement" role="navigation">
                {% include "menu.twig" with {'menu': menu.get_items} %}
            </nav><!-- #nav -->
            <div class="Nav-toggle">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    {% endblock %}
    {{function('tha_header_bottom')}}
</header>
