{% extends "base.twig" %}

{% block content %}
	{{function('tha_content_before')}}
	<div class="content-sidebar-wrap">
		{{function('tha_content_top')}}
		{% block layout %}
			{% embed 'layouts/content-sidebar.twig' %}
				{% block content %}
					<div itemscope itemtype="https://schema.org/Blog">
						{% for post in posts %}
							{% include 'components/post-excerpt.twig' %}
						{% endfor %}
					</div>
					{% include 'components/pagination.twig' %}
				{% endblock %}
			{% endembed %}
		{% endblock %}
		{{function('tha_content_bottom')}}
	</div>
	{{function('tha_content_after')}}
{% endblock %}
