.Nav {
    clear: both;
    text-align: right;
    width: 100%;

    ul {
        @include inline-li;
    }

    .menu-item {
        display: inline-block;
        text-align: left;

        &:last-child a {
            padding-right: 0;
        }

        > a {
            color: $base-font-color;
            display: block;
            padding: em(25) em(15);

            @include transition(all $base-duration $base-timing);

            &:hover,
            &:focus {
                color: $action-color;
            }

            @include media($large-screen-up) {
                padding-left: em(20);
                padding-right: em(20);
            }
        }
    }

    ul ul {
		left: -9999px;
		opacity: 0;
		position: absolute;
		width: 200px;
		z-index: 100;

		a {
			background-color: $subnav-bg-color;
			color: $subnav-link-color;
			font-size: $subnav-font-size;
			padding: 20px;
			position: relative;
			width: 200px;

			&:hover,
			&:focus {
				background-color: $subnav-bg-color-hover;
				color: $subnav-link-color-hover;
			}
		}

		.current-menu-item > a,
		.current-menu-ancestor > a,
		.current-menu-parent > a {
			color: $subnav-link-color-hover;

			&:hover,
			&:focus {
				color: $subnav-link-color-hover;
			}
		}

		.sub-menu {
			margin: -54px 0 0 200px;
		}
	}

	.menu-item:hover > ul,
	.menu-item-hover > ul,
	.menu-item:focus > ul {
		left: auto;
		opacity: 1;
	}
}

.Nav-toggle {
    @include transform(rotate(0deg));
    @include transition(all 0.5s ease-in-out);
    width: 20px;
    height: 12px;
    margin-left: auto;
    position: relative;
    cursor: pointer;

    @include media($large-screen-up) {
        display: none;
    }

    span {
        @include transform(rotate(0deg));
        @include transition(all 0.25s ease-in-out);
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $dark-gray;
        border-radius: 0;
        opacity: 1;
        left: 0;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 5px;
        }

        &:nth-child(4) {
            top: 10px;
        }
    }

    &.is-open span:nth-child(1) {
        opacity: 0;
    }

    &.is-open span:nth-child(2) {
        @include transform(rotate(45deg));
    }

    &.is-open span:nth-child(3) {
        @include transform(rotate(-45deg));
    }

    &.is-open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}

.Nav--primary {
    @include transition(right 0.5s $base-timing);
    background: $dark-gray;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    top: 0;
    right: -260px;
    width: 260px;
    z-index: 1000;

    @include media($large-screen-up) {
        background: none;
        margin-left: auto;
        position: static;
        width: auto;
    }

    &.is-open {
        right: 0;
    }

    .menu-item {
        display: block;

        @include media($large-screen-up) {
            display: inline-block;
        }

        > a {
            color: #eee;
            padding: em(15);

            @include media($large-screen-up) {
                color: $dark-gray;
                padding: em(25) em(15);
            }
        }
    }
}
