.pagination {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .next,
    .prev {
        width: 10%;
    }

    .next {
        text-align: right;
    }

    ul.pages {
        @include inline-li;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 80%;
    }
}
