.post {
    margin-bottom: $base-spacing*2;
}

.entry-title {
    margin-bottom: $small-spacing;

    > a {
        color: $base-font-color;
        transition: color $base-duration $base-timing;

        &:hover {
            color: $action-color;
        }
    }
}

.entry-meta {
    color: darken($medium-gray, 10);
    margin-bottom: 20px;

    a {
        color: darken($medium-gray, 10);
        transition: color $base-duration $base-timing;

        &:hover {
            color: $action-color;
        }
    }
}
