.sidebar {
    padding-left: $base-spacing;

    ul,
    ol {
        @include inline-li;

        li {
            display: block;
        }
    }

    li > a {
        color: $dark-gray;
        transition: color $base-duration $base-timing;

        &:hover {
            color: $action-color;
        }
    }
}

.widget {
    margin-bottom: $base-spacing;
}

.widgettitle {
    font-size: 22px;

    @include grid-media($desktop) {
        font-size: 28px;
    }
}
