.SiteHeader {
    color: $base-font-color;
    padding: $small-spacing 0;
    position: relative;

    @include grid-media($tablet-landscape) {
        padding: $base-spacing 0;
    }
}

.Logo {
    margin-bottom: 0;

    > a {
        color: $base-font-color;
        transition: color $base-duration $base-timing;

        &:hover {
            color: $action-color;
        }
    }
}
