.SiteHeader {
    color: $base-font-color;
    padding: $small-spacing 0;
    position: relative;
}

.Logo {
    margin: 0;

    > a {
        color: $base-font-color;
        transition: color $base-duration $base-timing;

        &:hover {
            color: $action-color;
        }
    }
}
