.site-header {
    color: $base-font-color;
    padding: $small-spacing 0;
    position: relative;

    @include media($medium-screen-up) {
        padding: $base-spacing 0;
    }

    .wrap {
        @include align-items(center);
        @include display(flex);
    }
}

.logo {
    margin-bottom: 0;

    > a {
        @include transition(color $base-duration $base-timing);
        color: $base-font-color;

        &:hover {
            color: $action-color;
        }
    }
}
