ol,
ul {
    margin-bottom: $small-spacing;
	margin-left: $small-spacing;

    @media only screen and (min-width:900px) {
        margin-left: $small-spacing;
    }
}

li {
	margin-bottom: 1%;
}

ol > li {
	list-style-type: decimal;
}

ul > li {
	list-style-type: disc;
}

li ol,
li ul {
	margin-top: 1%;
}


dt {
    font-weight: bold;
    margin: 0;
}

dd {
    margin: 0;
    margin-bottom: $small-spacing/2;
}
