table {
    border: $base-border;
    border-color: darken($light-gray, 5);
    border-collapse: collapse;
    border-radius: $base-border-radius;
    margin: $base-spacing 0;
    table-layout: fixed;
    width: 100%;
}

th {
    background: $light-gray;
    border-bottom: $base-border;
    border-color: darken($light-gray, 5);
    font-weight: bold;
    padding: $small-spacing;
    text-align: left;
}

td {
    border-bottom: $base-border;
    padding: $small-spacing;
}

tr,
td,
th {
    vertical-align: middle;
}
